/*整站样式*/
html,body,dl,dd,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0; border:0;}
body{font-size: 12px;font-family: '微软雅黑', Arial;}
input{padding: 0;font-family: '微软雅黑', Arial;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol,li{ list-style-type:none;}
img{border:0;vertical-align:middle}
select,input,select{vertical-align:middle;outline: none;}
table{border-collapse:collapse;border-spacing:0}
iframe{border:none;}
a:link{color:#666666;text-decoration:none;}
a:visited{/*color:#666666;*/text-decoration:none;}
a:hover{/*color:#0093ff;*/text-decoration:none;}
a:active{color:#0093ff;text-decoration:none;}
.h{display:none;visibility:visible;}
.wrap{border: 0;padding:0;width:1100px;margin:0 auto;*zoom:1;}
.wrap:after{clear: both;content:"";display: table;}
.c{clear:both;font-size:0;line-height:0;height:0;visibility:visible;}
.fix{*zoom:1;}
.fix:after{clear: both;content:"";display: table;}
.fl{float: left;}
.fr{float: right;}
.pors{position: relative;}
/*网页样式*/
header {
	box-sizing: border-box;
	width: 100%;
	min-width: 1200px;
	height: 55px;
	border-bottom: 1px solid #3493c4;
	padding: 0 90px 0 50px;
	background: #2189bf;
}
.logo {
	display: block;
	margin-top: 10px;
}
.login-box {
	margin-top: 18px;
}
.login-pic,.login {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
a.login {
	font-family: '黑体',SimSun;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
}
.search-box {
	position: relative;
	margin: 14px 20px 0 0;
}
.search {
	width: 312px;
	height: 28px;
	line-height: 28px;
	padding-left: 40px;
	box-sizing: border-box;
	border-radius: 14px;
	border: 1px solid #abd3e7;
}
.search-submit {
	position: absolute;
	top: 6px;
	left: 17px;
	border: none;
	width: 16px;
	height: 16px;
	background: url(../images/search.png) no-repeat;
	cursor: pointer;
}
.container {
	min-width: 1200px;
	height: 1000px;/*暂时高度，调试用*/
}
.mainl {
	box-sizing: border-box;
	width: 260px;
	height: 100%;
	border-right: 1px solid #353947;
	background: #2a2e3d;
}
.avatar-box {
	/*text-align: center;*/
	margin-top: 18px;
}
.avatar {
	width: 57px;
	height: 57px;
	margin-left: 45px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	cursor: pointer;
}
a.person-name {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-family: '黑体',SimHei;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	margin-left: 18px;
}
.zl-box {
	margin: 20px 0;
}
.zl-box a {
	display: block;
	float: left;
	padding: 0 20px;
}
.zl-box a:first-child {
	border-right: 2px solid #323647;
	margin-left: 45px;
}
.zl-box a {
	font-family: '黑体',SimHei;
	font-size: 16px;
	line-height: 18px;
	color: #6e8095;
}
.l-list {
	
}
.item-box {
	margin: 10px 0;
	cursor: pointer;
}
.item {
	padding:5px 0 5px 45px;
	box-sizing: border-box;
}
.item-selected {
	background: #383d4e;
}
.item-icon,.item-text {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.item-text {
	font-family: '黑体',SimHei;
	font-size: 12px;
	line-height: 12px;
	color: #6e8095;
	vertical-align: middle;
	margin-left: 8px;
}
.item-text1 {
	color: #fff;
}
.item-list dl dt {
	margin: 8px 0;
	cursor: pointer;
}
.item-list dl {
	margin-left: 24px;
}
.item-list-icon1,.item-list-icon2,.item-list-text {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.item-list-icon1 {
	margin-right: 4px;
}
.item-list-icon-down {
	margin-right: 1px;
}
.item-list-text {
	font-family: '黑体',SimHei;
	font-size: 12px;
	line-height: 12px;
	color: #6e8095;
	vertical-align: middle;
}
.item dl dd {
	margin: 5px 0 8px 25px;
	cursor: pointer;
}
.item-list-text1 {
	color: #fff;
}
.mainr {
	height: 100%;
	overflow: hidden;
	background: #eeeeed;
}
.mainr-top {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #fcfcfc;
	background: #fff;
}
.mainr-top ul li {
	float: left;
	margin-right: 6px;
}
.mainr-top ul li:first-child {
	margin-right: 10px;
	margin-left: 30px;
}
.mainr-top li a {
	font-family: '黑体',SimHei;
	font-size: 14px;
	color: #aaaaaa;
	line-height: 30px;
}
.mainr-top li a:hover {
	color: #6898c2;
}
.mainr-top .on a {
	color: #6898c2;
}
.mainr-box {
	box-sizing: border-box;
	width: 890px;
	margin:20px 0 0 60px;
}
.mainr-box1 {
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dddbdd;
    position: relative;
    padding-bottom: 10px;
}
.mainr-box1 > ul > li {
	float: left;
	margin-top: 15px;
}
.select-box {
	margin-left: 30px;
}
.select-box1 {
	margin-top: 15px;
}
.select-box2 {
	margin-left: 189px;
}
.btn-select { 
	box-sizing: border-box;
    position: relative; 
    display: inline-block; 
    width: 70px; 
    height: 25px;
    border: 1px solid #c2c3c4;  
    font: 12px/25px "黑体",SimHei; 
    color: #323333; 
    
}
.btn-select1 {
	background: url(../images/r-down.png) no-repeat 50px center;
}
.btn-select2 {
	width: 120px;
	background: url(../images/r-down.png) no-repeat 100px center;
} 
.btn-select .cur-select { 
    position: absolute; 
    display: block; 
    width: 70px; 
    height: 25px; 
    line-height: 25px; 
    text-indent: 8px; 
} 
.btn-select:hover { 
     background-image: url(../images/r-down-1.png);
     background-repeat: no-repeat; 
}
.select-box > form {
	float: left;
} 
.btn-select select { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 25px; 
    opacity: 0; 
    filter: alpha(opacity: 0;); 
    font: 12px/25px "黑体",SimHei; 
    color: #323333; 
} 
.btn-select select option { 
    text-indent: 10px;
}
.select-box > p {
	font: 12px/25px "黑体",SimHei;
	color: #aaa;
	float: left;
	margin-right: 15px;
}
.select-box form > input {
	box-sizing: border-box;
	width: 120px;
	height: 25px;
	font: 12px/25px "黑体",SimHei; 
	color: #323333;
	border: 1px solid #c2c3c4;
	text-indent: 10px;
}
.mainr-box1-bg {
    position: absolute;
    top: 22px;
    left: 350px;
    width: 27px;
    height: 37px;
}
.mainr-box1-jg1 {
	margin-right: 38px;
}
.mainr-box1-jg2,.mainr-box1-jg4 {
	margin-right: 58px;
}
.mainr-box1-jg3,.mainr-box1-jg5 {
	margin-right: 12px;
}
.mainr-box1-submit {
    position: absolute;
    top: 30px;
    right: 110px;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: none;
    background: #388ac1;
    cursor: pointer;
    color: #fff;
    font: 12px/25px "黑体",SimHei;
    text-align: center;
}